<div>
    <span class="radioClass">Show:</span>
    <input type="radio" name="options" value="all" (change)="onRadioButtonSelectionChange()" [(ngModel)]="selectRadioButtonValue"><span class="radioClass"  >{{"ALL("+all+")"}}</span>
    <input type="radio" name="options" value="male" (change)="onRadioButtonSelectionChange()" [(ngModel)]="selectRadioButtonValue"><span class="radioClass" >{{"Male("+male+")"}}</span>
    <input type="radio" name="options" value="female" (change)="onRadioButtonSelectionChange()" [(ngModel)]="selectRadioButtonValue"><span class="radioClass" >{{"Female("+female+")"}}</span>
</div>

